In [235]:
import numpy as np
import pandas as pd

In [236]:
borders = pd.read_csv('GEODATASOURCE-COUNTRY-BORDERS.csv')
data15 = pd.read_csv('2015.csv')
data16 = pd.read_csv('2016.csv')
data17 = pd.read_csv('2017.csv')
data17 = data17.rename(columns = {'Happiness.Score': 'Happiness Score'})

In [237]:
borders = borders[['country_name', 'country_border_name']]
borders = borders[borders['country_border_name'].notnull()]
data15 = data15[['Country', 'Happiness Score']]
data16 = data16[['Country', 'Happiness Score']]
data17 = data17[['Country', 'Happiness Score']]

In [238]:
borders = pd.merge(borders, data15, how='inner', left_on='country_border_name', right_on='Country')
borders = borders.drop(['Country'], axis=1)
borders = borders.rename(columns = {'Happiness Score': 'Happiness Score 2015'})
borders = pd.merge(borders, data16, how='inner', left_on='country_border_name', right_on='Country')
borders = borders.drop(['Country'], axis=1)
borders = borders.rename(columns = {'Happiness Score': 'Happiness Score 2016'})
borders = pd.merge(borders, data17, how='inner', left_on='country_border_name', right_on='Country')
borders = borders.drop(['Country'], axis=1)
borders = borders.rename(columns = {'Happiness Score': 'Happiness Score 2017'})
borders

,country_name,country_border_name,Happiness Score
0,Andorra,France,6.575
1,Belgium,France,6.575
2,Switzerland,France,6.575
3,Germany,France,6.575
4,Spain,France,6.575
5,Italy,France,6.575
6,Luxembourg,France,6.575
7,Monaco,France,6.575
8,Andorra,Spain,6.329
9,France,Spain,6.329
10,Gibraltar,Spain,6.329
11,Morocco,Spain,6.329
12,Portugal,Spain,6.329
13,United Arab Emirates,Oman,6.853
14,Saudi Arabia,Oman,6.853
15,Yemen,Oman,6.853
16,United Arab Emirates,Saudi Arabia,6.411
17,Iraq,Saudi Arabia,6.411
18,Jordan,Saudi Arabia,6.411
19,Kuwait,Saudi Arabia,6.411
20,Oman,Saudi Arabia,6.411
21,Qatar,Saudi Arabia,6.411
22,Yemen,Saudi Arabia,6.411
23,Afghanistan,China,5.140
24,Bhutan,China,5.140
25,Hong Kong,China,5.140
26,India,China,5.140
27,Kyrgyzstan,China,5.140
28,Korea (Democratic People's Republic of),China,5.140
29,Kazakhstan,China,5.140
...,...,...,...
481,Malawi,Mozambique,4.971
482,Swaziland,Mozambique,4.971
483,Tanzania (the United Republic of),Mozambique,4.971
484,South Africa,Mozambique,4.971
485,Zambia,Mozambique,4.971
486,Zimbabwe,Mozambique,4.971
487,Malaysia,Indonesia,5.399
488,Papua New Guinea,Indonesia,5.399
489,Timor-Leste,Indonesia,5.399
490,Mozambique,Malawi,4.292
491,Tanzania (the United Republic of),Malawi,4.292
492,Zambia,Malawi,4.292
493,Mozambique,Swaziland,4.867
494,South Africa,Swaziland,4.867
495,Namibia,Botswana,4.332
496,South Africa,Botswana,4.332
497,Zambia,Botswana,4.332
498,Zimbabwe,Botswana,4.332
499,Nicaragua,Costa Rica,7.226
500,Panama,Costa Rica,7.226
501,Norway,Finland,7.406
502,Russian Federation,Finland,7.406
503,Sweden,Finland,7.406
504,Oman,United Arab Emirates,6.901
505,Saudi Arabia,United Arab Emirates,6.901
506,Oman,Yemen,4.077
507,Saudi Arabia,Yemen,4.077
508,Saudi Arabia,Qatar,6.611
509,United States,Canada,7.427
510,South Africa,Lesotho,4.898

In [190]:
merge15 = pd.merge(data15, borders, how='inner', left_on='Country', right_on='country_name')
merge16 = pd.merge(borders, data16, how='inner', left_on='country_name', right_on='Country')
merge17 = pd.merge(borders, data17, how='inner', left_on='country_border_name', right_on='Country')

In [181]:
# data2018.loc[data2018['Country']=='Iraq']
# df.loc[df['column_name'] == some_value]
merge17

,country_border_name,country_name,Country,Happiness Score
0,France,Andorra,France,6.442
1,France,Belgium,France,6.442
2,France,Switzerland,France,6.442
3,France,Germany,France,6.442
4,France,Spain,France,6.442
5,France,Italy,France,6.442
6,France,Luxembourg,France,6.442
7,France,Monaco,France,6.442
8,Spain,Andorra,Spain,6.403
9,Spain,France,Spain,6.403
10,Spain,Gibraltar,Spain,6.403
11,Spain,Morocco,Spain,6.403
12,Spain,Portugal,Spain,6.403
13,Saudi Arabia,United Arab Emirates,Saudi Arabia,6.344
14,Saudi Arabia,Iraq,Saudi Arabia,6.344
15,Saudi Arabia,Jordan,Saudi Arabia,6.344
16,Saudi Arabia,Kuwait,Saudi Arabia,6.344
17,Saudi Arabia,Oman,Saudi Arabia,6.344
18,Saudi Arabia,Qatar,Saudi Arabia,6.344
19,Saudi Arabia,Yemen,Saudi Arabia,6.344
20,China,Afghanistan,China,5.273
21,China,Bhutan,China,5.273
22,China,Hong Kong,China,5.273
23,China,India,China,5.273
24,China,Kyrgyzstan,China,5.273
25,China,Korea (Democratic People's Republic of),China,5.273
26,China,Kazakhstan,China,5.273
27,China,Lao People's Democratic Republic,China,5.273
28,China,Myanmar,China,5.273
29,China,Mongolia,China,5.273
...,...,...,...,...
484,Estonia,Latvia,Estonia,5.611
485,Estonia,Russian Federation,Estonia,5.611
486,Mozambique,Malawi,Mozambique,4.550
487,Mozambique,Swaziland,Mozambique,4.550
488,Mozambique,Tanzania (the United Republic of),Mozambique,4.550
489,Mozambique,South Africa,Mozambique,4.550
490,Mozambique,Zambia,Mozambique,4.550
491,Mozambique,Zimbabwe,Mozambique,4.550
492,Indonesia,Malaysia,Indonesia,5.262
493,Indonesia,Papua New Guinea,Indonesia,5.262
494,Indonesia,Timor-Leste,Indonesia,5.262
495,Malawi,Mozambique,Malawi,3.970
496,Malawi,Tanzania (the United Republic of),Malawi,3.970
497,Malawi,Zambia,Malawi,3.970
498,Botswana,Namibia,Botswana,3.766
499,Botswana,South Africa,Botswana,3.766
500,Botswana,Zambia,Botswana,3.766
501,Botswana,Zimbabwe,Botswana,3.766
502,Costa Rica,Nicaragua,Costa Rica,7.079
503,Costa Rica,Panama,Costa Rica,7.079
504,Finland,Norway,Finland,7.469
505,Finland,Russian Federation,Finland,7.469
506,Finland,Sweden,Finland,7.469
507,United Arab Emirates,Oman,United Arab Emirates,6.648
508,United Arab Emirates,Saudi Arabia,United Arab Emirates,6.648
509,Yemen,Oman,Yemen,3.593
510,Yemen,Saudi Arabia,Yemen,3.593
511,Qatar,Saudi Arabia,Qatar,6.375
512,Canada,United States,Canada,7.316
513,Lesotho,South Africa,Lesotho,3.808

In [120]:


merged.loc[merged['country_border_name']=='Mongolia']
# print(data2018.loc[data2018['Country']=='China'])
# print(data2018.loc[data2018['Country']=='Russia'])
# print(data2018.loc[data2018['Country']=='Mongolia'])
# print(data2018.loc[data2018['Country']=='Georgia'])

,country_code,country_name,country_border_code,country_border_name,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
359,CN,China,MN,Mongolia,Mongolia,100,4.955,5.02168,4.88832,1.027236,1.493011,0.557783,0.394144,0.338464,0.032902,1.111292
360,RU,Russian Federation,MN,Mongolia,Mongolia,100,4.955,5.02168,4.88832,1.027236,1.493011,0.557783,0.394144,0.338464,0.032902,1.111292

                  Country  Happiness.Score
0                  France            6.442
1                  France            6.442
2                  France            6.442
3                  France            6.442
4                  France            6.442
5                  France            6.442
6                  France            6.442
7                  France            6.442
8                   Spain            6.403
9                   Spain            6.403
10                  Spain            6.403
11                  Spain            6.403
12                  Spain            6.403
13           Saudi Arabia            6.344
14           Saudi Arabia            6.344
15           Saudi Arabia            6.344
16           Saudi Arabia            6.344
17           Saudi Arabia            6.344
18           Saudi Arabia            6.344
19           Saudi Arabia            6.344
20                  China            5.273
21                  China            5.273
22                  China            5.273
23                  China            5.273
24                  China            5.273
25                  China            5.273
26                  China            5.273
27                  China            5.273
28                  China            5.273
29                  China            5.273
..                    ...              ...
484               Estonia            5.611
485               Estonia            5.611
486            Mozambique            4.550
487            Mozambique            4.550
488            Mozambique            4.550
489            Mozambique            4.550
490            Mozambique            4.550
491            Mozambique            4.550
492             Indonesia            5.262
493             Indonesia            5.262
494             Indonesia            5.262
495                Malawi            3.970
496                Malawi            3.970
497                Malawi            3.970
498              Botswana            3.766
499              Botswana            3.766
500              Botswana            3.766
501              Botswana            3.766
502            Costa Rica            7.079
503            Costa Rica            7.079
504               Finland            7.469
505               Finland            7.469
506               Finland            7.469
507  United Arab Emirates            6.648
508  United Arab Emirates            6.648
509                 Yemen            3.593
510                 Yemen            3.593
511                 Qatar            6.375
512                Canada            7.316
513               Lesotho            3.808

[514 rows x 2 columns]

In [110]:
merged = merged.groupby('country_name')['Happiness.Score'].mean()

In [111]:
merged.loc['Mongolia']

5.2729997634887695